body {
    margin: 0;
    padding: 0;
}

/* this need to stay near the top so that we can override the margin top/bottom later if needed */
.center {
    margin: 0 auto;
    text-align: center;
}

.nav {
    width: 100%;
    padding-left: .5em;
    padding-right: .5em;
    /* display: inline-block; */
    /* background-color: grey; */
    /* color: white; */
}

.nav__userDisplay {
    font-size: 1.2em;
}

.header {
    margin: .3em auto;
    text-align: center;
}

.login {
    display: block;
    width: 50%;
    /* border for debugging */
    border: 1px solid #f66b74;
    /* border-bottom-left-radius: 16px; */
    /* border-bottom-right-radius: 16px; */
    border-radius: 16px;
    padding: .5em;
}

.login__header {
    padding: .2em;
    margin: -.5em;
    margin-bottom: .5em;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #f66b74;
    color: white;
}

.login__header h4 {
    margin-top: .2em;
    margin-bottom: .2em;
}



.movieResults {
    /* border for debugging */
    /* border: 1px solid blue; */
}

.trackedMovies {
    /* border for debugging */
    /* border: 1px solid green; */
}

.hidden {
    display: none;
}
